<% layout("layouts/boilerplate.ejs") %>

    <body>

        <div class="card text-center">
            <div class="card-header">
                Branch Related Details
            </div>
            <div class="card-body">

                <b>BANK-NAME:</b> &nbsp; &nbsp;&nbsp;<%= bank.bank_name %><br>
                    <b>IFSC:</b> &nbsp; &nbsp;&nbsp;<%= bank.ifsc %><br>
                        <b>BANK-ID:</b> &nbsp; &nbsp;&nbsp;<%= bank.bank_id %><br>
                            <b>BRANCH:</b> &nbsp; &nbsp;&nbsp;<%= bank.branch%><br>
                                <b>ADDRESS:</b> &nbsp; &nbsp;&nbsp;<%= bank.address %><br>
                                    <b>CITY:</b> &nbsp; &nbsp;&nbsp;<%= bank.city %><br>
                                        <b>DISTRICT:</b> &nbsp; &nbsp;&nbsp;<%= bank.district %><br>
                                            <b>STATE:</b> &nbsp; &nbsp;&nbsp;<%= bank.state %><br>

            </div>
        </div>



    </body>